* {
    margin: 0 0;
}

body {
    border: 1px solid saddlebrown;
}

.header-font {
    font-family: 'Lobster', cursive;
}

.body-font {
    font-family: 'Lato', sans-serif;
}

.description-font {
    font-family: 'Open Sans', sans-serif;
    color:grey
}

.banner {
    display: flex;
    flex-direction: column;
    background-color: #FFF4E7;
    padding-bottom: 30px;
}

.banner-img {
    display: flex;
}

.banner-img img {
    width: 80%;
    Height: 30vw;
    border-radius: 8px;
    margin: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 40px 170px 80px 170px;
}

.navBar h1 {
    margin: auto 20px;
}

.h1Color {
    color: #FF900E;
}

.pages {
    display: flex;
}

.pages p {
    margin: auto 20px;
}

.container {
    margin: 3vh 20vw;
    text-align: center;
}


.container h1 {
    font-size: 5vw;
    font-weight: 700;
    margin: auto;
}

.description {
    width: 50%;
    padding-top: 26px;
    margin: auto;
    text-align: center;
    line-height: 26px;
}

#btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 170px;
    height: 56px;
    margin: 20px auto;
    color: white;
    background-color: #FF900E;
    border-radius: 10px;
    border: none;
}

.body-upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 50px auto;
}

.body-upper-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.body-upper-img img {
    padding: 10px;
    width: 342px;
    height: 342px;
}

.body-upper-article {
    width: 50%;
    margin: auto;
    text-align: left;
}

.h2color {
    color: gray;
}

.body-middle {
    width: 80%;
    margin: 10vh auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.body-middle-header {
    width: 586px;
    height: 982px;
    text-align: left;
    margin-right: 10%;
}

.headline {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 4vh;
    font-weight: 900;
    color: black;
}

.body-middle-article h3 {
    padding: 0 15px;
    border-left: 5px solid orange;
}

.body-middle-article p {
    margin: 30px auto;
}

.body-middle-details {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    height: 111px;
    margin: 30px auto;
    padding: 30px;
}

.body-middle-details h3 {
color: black;}

.body-middle-details p {
    padding: 10px 0;
}

.body-middle-footer img {
    width: 708px;
    height: 982px;
}

#btn-secondary {
    position: absolute;
    margin-left: 100px;
    padding-top: 1000px;
}

.btn-secondary-style {
    background-color: #FF900E;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding: 35px 55px;
    text-align: center;
    border: none;
    border-radius: 8px;
}

#btn-experiance {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.important-facts {
    width: 30vw;
    margin: 200px 220px 50px 220px;
    text-align: left;
}

.important-facts p {
    padding-top: 20px;
}

.awards{
    display: flex;
    margin: 100px 200px;
    justify-content: space-around;
}
.award {
    box-sizing: border-box;
    width: 240px;
    height: 240px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 50px 50px;
    /* transform: rotate(90deg); */
}
.award h1{
    font-size: 54px;
}

.body-lower{
    margin: 50px auto;
}
.sponsors {
    margin: auto;
    text-align: center;
    width: 40%;
}
#sponsor-logo{
    text-align: center;
    filter: grayscale(100%);

}
.body-lower img{    
    margin: 55px 70px;
}

footer p{
    margin: 50px 250px 200px 250px;
    text-align: center;
    background-color: antiquewhite;
    padding: 40px 410px;

}